.dub
docs.json
__dummy.html
docs/
/purism-core
/openl2d-purism
/out
purism-core.so
purism-core.dylib
purism-core.dll
purism-core.a
purism-core.lib
purism-core-test-*
libopenl2d-purism.a
*.exe
*.pdb
*.o
*.obj
*.lst
